*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    list-style-type: none;

    input:focus, textarea:focus, select:focus, button:focus{
        outline-style: none;
    }
}

#container_header{
    background-color: #E0E0E0;
    width: 100vw;
    height: 60px;
    position: relative;

    .container_menu{
        padding: 0 20px;
        height: 100%;
        display: flex;
        margin: auto;
        justify-content: space-between;
        align-items: center;
        img{
            width: 30px;
        }
        h3{
            font-size: 1.25rem;
            line-height: 24px;
        }

        .menu_button{

            a{
                .fa-bars{
                    font-size: 1.25rem;
                    color: #333333;
                }
            }

            .menu{
                width: 351px;
                height: 100vh;
                background: #333333;
                display: none;
                position: absolute;
                top: 0;
                right: 0;
                text-align: right;

                .close{
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: -50px;
                    left: 20px;
                    a{
                        color: #F6F6F6;
                        text-decoration: none;                
                        i{
                            font-size: 1.5rem;
                        }
                    }
                }

                ul{
                    width: 100%;
                    height: 90px;
                    position: absolute;
                    right: 0;
                    top: 70px;
                    .pipe{
                        display: none;
                    }
                    .item_menu{
                        height: 30px;
                        padding-right: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        a{
                            color: #F6F6F6;
                            text-decoration: none;
                            font-size: 1rem;
                        }
                    }

                }
                ul .item_menu:hover{
                    background: #888888;
                    transition: 0.3s ease-in;

                    a{
                        color: #333333;
                        font-weight: 600;
                    }
                }
            }
            @media screen and (min-width:768px) {
                .menu{
                    width: 252px;
                }                
            }
        }
        
        .menu_button:hover{
            .menu{
                display: flex;
                opacity: 1;
            }

            .close a:hover{
                .menu{
                    display: none;
                }
            }
        }
        
    }
}

@media screen and (min-width: 1112px) {
    #container_header{
        height: 80px;

        .container_menu{
            max-width: 1100px;
            justify-content: inherit;
            position: relative;

            img{
                width: 40px;
                margin-right: 20px;
            }

            .menu_title{
                justify-self: flex-end;
                width: inherit;
            }

            .menu_button{
                width: 522px;
                height: 40px;
                background: #ffffff;
                position: absolute;
                right: 20px;

                .fa-bars{
                    display: none;
                }

                .menu{
                    width: 100%;
                    height: 40px;
                    background: none;
                    display: block;

                    ul{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        position: initial;

                        .pipe{
                            display: block;
                            display: flex;
                            align-items: center;
                            color: #333333;
                        }

                        .item_menu{
                            height: 40px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 0 20px;

                            a{
                                color: #333333;
                                font-size: 1rem;
                                font-weight: 600;
                            }
                        }

                    }

                    .close{
                        display: none;
                    }

                    ul .item_menu:hover{
                        background: #888888;
                        transition: 0.3s ease-in;
    
                        a{
                            color: #F6F6F6;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}

#container_main{
    .container_main{
        width: 100%;
        padding: 0 20px;
        margin: auto;

        .container_form{
            width: 100%;
            display: block;
            #form{
                width: 100%;
                .input_box{
                    color: #333333;
                    font-size: 0.875rem;
                }

                label{
                    width: 100%;
                    display: block;
                    margin-top: 20px;
                    padding-bottom: 3px;
                }
                select{
                    width: 100%;
                    display: block;
                    height: 32px;
                    border: 1px solid #979797;
                    border-radius: 4px;
                    color: #888888;
                    padding-left: 10px;
                    font-size: 0.875rem;
                }
                input{
                    width: 100%;
                    display: block;
                    height: 32px;
                    border-radius: 4px;
                    border: 1px solid #979797
                }
                ::placeholder{
                    padding-left: 10px;
                    font-size: 0.875rem;
                    color: #888888;
                }
            }
            #button_input{
                width: 100%;
                height: 32px;
                margin-top: 20px;
                background: #333333;
                border-radius: 4px;
                border: none;
                color: #F6F6F6;
                font-size: 0.875rem;
            }
            .title_form{
                display: none;
            }
        }

        @media screen and (min-width:768px) {
            .container_form{
                border: 1px solid #979797;
                border-radius: 4px;
                height: 189px;
                margin: 20px 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 20px;
                align-items: center;

                hr{
                    display: none;
                }

                #form{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    #tipo{
                        width: 150px;
                    }

                    .center{
                        width: 100%;
                        margin: 0 20px;
                    }

                    #valor{
                        width: 150px;
                    }
                }

                #button_input{
                    width: 200px;
                    align-self: flex-end;
                }

                .title_form{
                    display: block;
                }
            }
        }

        hr{
            color: #979797;
            margin: 28px 0 23px 0;
        }
        .container_table{
            height: 281px;

            p{
                width: 100%;
                text-align: center;
                margin-bottom: 19px;
                font-size: 1.125rem;
                font-weight: 700;
            }
            table{
                font-size: 0.875rem;
                width: 100%;
                .border{
                    border-bottom: 1px solid #979797;
                    padding: 0;
                }
                .border_bottom{
                    border-bottom: 1px solid #979797;
                    padding: 0;
                }
                tr{
                    margin: 0;
                    padding: 0;
                    width: 100%;
                }
                td, th{
                    padding: 4px 0px;
                }
                .left{
                    text-align: start;
                    vertical-align: top;
                    width: 231px;
                }

                @media screen and (max-width: 420px){
                    .left{
                        width: 50%;
                    }
                }

                .right{
                    text-align: end;
                    vertical-align: top;
                    padding-right: 15px;
                }

                .calc_symbol{
                    width: 20px;
                    text-align: center;
                }

                .small{
                    font-size: 0.625rem;
                    padding-top: 0px;
                }

                .weight{
                    font-weight: 700;
                }
            }
        }
    }

    @media screen and (min-width: 1112px) {
        .container_main{
            max-width: 1100px;
            display: flex;
            padding: 26px 20px;

            .container_form{
                width: 38%;
                height: 344px;
                margin: 0 20px 0 0;
                padding: 20px 14px;

                .title_form{
                    font-size: 1.125rem;
                }

                #form{
                    display: flex;
                    flex-direction: column;

                    #tipo{
                        width: 100%;
                    }

                    .center{
                        width: 100%;
                        margin: 0;
                    }

                    #valor{
                        width: 100%;
                    }
                }
                #button_input{
                    width: 100%;
                }
            }

            .container_table{
                width: 62%;
                height: 281px;
                margin: 0;
                padding: 20px 0;
            }
        }
    }
}

footer{
    position: fixed;
    width: 100%;
    height: 8px;
    bottom: 0;
    left: 0;
    background-color: #333333;
}